<link rel="stylesheet" href="lib/codemirror.css">
<link rel="stylesheet" href="theme/mbo.css">
<link rel="stylesheet" href="addon/display/fullscreen.css">
<script>
		<%
		User.find({admin: true}).exec(function(err, users) {
				if(err) {
						console.log("error: " + err);
				} else {
						if(users.length == 0) {
								res.redirect("/user/setup");
						}
				}
		});
		%>
		function deleteFolder(id){
		allFolders[id].remove();
		};
		function deleteProblem(id){
				var classname = "#li-" + id;
				$(classname).remove();
		};

		function addProblem(problem){
		var item = $("<li></li>").attr("id","li-" + problem.id).html(problem.name);
		var close = $("<a></a>").attr("class","delete").css("margin-left","5px").click(function() {
						$.post("/problem/delete", {id: problem.id}, function(problem){
						});
						deleteProblem(problem.id);
		});
				//add problem under containing folder
				//$("#l-" + problem.folder).append("<li id='li-" + problem.id + "'>" + problem.name + "</li>");
				$("#l-" + problem.folder).append(item).append(close);
				//add delete button/method to problem
		/*
		$("#li-" + problem.id).append("<a class='delete' style='margin-left: 5px;'><span class='glyphicon glyphicon-remove'></span></a>").click(function(){
						$.post("/problem/delete", {id: problem.id}, function(problem){
								alert("successfully deleted");
						});
						deleteProblem(problem.id);
				});
		*/
		};
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/js/admin.js"></script>
<style>

	#sortable { list-style-type: none; margin-top: 4px; padding: 0; width: 100%;}
	#sortable ul { list-style-type: none; margin-top: 4px; padding: 0; width: 100%;}
	#sortable ul > li { background: none; border: 0px solid white; margin-left: 5px;}

	.sortableGrip2 { cursor: move; float: left; };
	.sortableFolder {margin-top: 5px; padding-left: 0px; padding-right: 0px; }
	.panel-heading {padding-right:5px; }
	.sortableGrip { cursor: move; float: left; };
	.panel-collapse {padding:20px; }
	.panel-collapse p {margin:0 20px; padding:0; }


#navigationPanel {
	margin-top: 20px;
	padding: 0px;
	border:none;
}
form > button {
	margin-top: 10px;
}
.navbar-default {
		margin-top: 20px;
}
#folderBar {
	padding: 0px;
}
#folderBar > div {
	margin-right: 10px;
}
.alert {
		margin-top: 10px;
		margin-bottom: 0;
}
#pointbreakdown {
	border: 2px solid gray;
	float:right; 
	width:233px; 
	margin-left:5px;
	padding:5px;
}
#viewStudentsTable {
	margin-top: 20px;
	text-align: center;
}

.attemptProblem td {
	padding-left:30px
}
.attemptProblem td:last-child {
	padding-left:3px
}
.left {
	float:left;
	width: 21.5%;
}
.problem-name-first {
	width:35%;
}
.submission-name-first {
width:31.5%;
}
.left-submission {
	float:left;
	width: 22.5%;
}
.style-submission {
	margin-right:23.5%
}

ul {
	list-style-type: none;
}

#visualization {
	width:100%;
}
.visualize-row {
	width:100%;
	height:10px;
	margin:2px 0;
}
.visualize-square {
	width:10px;
	height:10px;
	float:left;
}
#refreshData {
	float: right;
	margin-top: -6px;
}

.submission-points {
	float:left;
	width:20%;
}
.submission-timestamp {
	float:left;
	width:50%
}
.probStudentSubmissionTableTD {
	width: 15%;	
	text-align: center;
}

</style>
<script src="lib/codemirror.js"></script>
<script src="../mode/javascript/javascript.js"></script>
<script src="../addon/selection/active-line.js"></script>
<script src="../addon/display/fullscreen.js"></script>

<nav style="margin-bottom: 0" class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../">Bricks</a>
			<a class="navbar-brand" href="#students" data-toggle="pill">Students</a>
			<a class="navbar-brand" href="#admin" data-toggle="pill">Admins</a>
			<a class="navbar-brand" href="#help" data-toggle="pill">Help</a>
		</div>
		<div class="navbar-right">
			<p class="navbar-text"><%= req.user.displayName %></p>
			<form class="navbar-form navbar-right">
				<a href="/login/logout" id="logout" class="btn btn-default">Logout</a>
			</form>
		</div>
	</div><!-- /.container-fluid -->
</nav>


<div class="container-fluid ">
<% if (req.isAuthenticated() && req.user.admin) {%>

	<!-- SIDE BAR -->
	<div id="navigationPanel" class="panel panel-default col-md-3  ">
		<button id="sortFolders" type="button" class="btn btn-default">Edit Folders</button>
		<button id="sortFolders" type="button" class="btn btn-default" href="#addquestion" data-toggle="pill">Add Problem</button>
		<p>
		<div class="panel-group" id="leftSideFolders"></div>
	</div>
	<!-- END SIDE BAR -->


	<!-- BODY -->
	<div class="tab-content  col-md-9 ">

		<!-- QUESTION SECTION -->
		<div class="tab-pane active" id="questions">

			<!-- DISPLAY QUESTION SECTION -->
			<div class="panel panel-default">

				<!-- DISPLAY QUESTION HEADING -->
				<div class="panel-heading">
					 <h4 class="panel-title" >
							<a data-toggle="collapse" data-parent="#accordion" href="#displayQuestionCollapse" aria-expanded="true" id="problemDisplayName"> Choose a Problem</a>
					</h4>
				</div>

				<!-- DISPLAY QUESTION BODY -->
				<div class="collapse" id="displayQuestionCollapse">
					<div class="panel-body">
						<div id="pointbreakdown" class="hidden" >
							Point Breakdown:<br/>
							Style- <span id="availablePtStyle"></span>
							<br />
							Func- <span id="availablePtCorrect"></span>
							<br />
						</div>
						<div id="problemDisplayBody" >
							Select a problem from the left to view more information.
						</div>
					</div>
				</div>
			</div>
			<!-- DISPLAY QUESTION SECTION END -->

			<!-- EDIT QUESTION SECTION -->
			<div class="panel panel-default">

				<!-- EDIT QUESTION HEADING -->
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#editQuestionCollapse" aria-expanded="true" >Edit</a>
					</h4>
				</div>

				<!-- EDIT QUESTION BODY -->
				<div class="panel-collapse collapse" id="editQuestionCollapse">
					<div class="panel-body">
						<p id="editPlaceholder">Select a problem from the left to edit it</p>
						<form id="edit" class="form hidden">
							<div class="row">
								<div class="form-group">
									<div class="col-md-3">
										<label class="control-label" for="editType">Type</label>
										<select id="editType" name="editType" class="form-control">
											<option value="twit">twit</option>
											<option value="diy">diy</option>
											<option value="wall">wall</option>
											<option value="exam">exam</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="control-label" for="editPhase">Phase</label>
										<select id="editPhase" name="editPhase" class="form-control">
											<option value="0">Past</option>
											<option value="1">Present</option>
											<option value="2">Future</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="control-label">Function Points</label>
										<input id="editCorrectPoints" class="form-control">
									</div>
									<div class="col-md-3">
										<label class="control-label">Style Points</label>
										<input id="editStylePoints" class="form-control">
									</div>
									<div class="col-md-3">
										<label class="control-label" for="editProblemLanguage">Language</label>
										<select name="editLanguage" id="editLanguageDropdown" class="form-control">
											<option value="javascript">JavaScript</option>
											<option value="java">Java</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">
										<label class="control-label" for="editProblemName">Name</label>
										<input id="editProblemName" name="editName" type="text" class="form-control"></input>
									</div>
									<div class="col-md-6">
										<label name="editFolder" class="control-label" for="folder">Folder</label>
										<select id="editFolderDropdown" class="form-control">  </select>
									</div> 
								</div>
							</div>
							<label class="control-label" for="editDescription">Description</label>
							<textarea name="editDescription" id="editDescription" class="form-control"></textarea>
							<label class="control-label" for="editOnSubmit">Function to run on submission</label>
							<textarea name="editOnSubmit" id="editOnSubmit" class="form-control" 
									 style="font-family:Consolas, monospace">
							</textarea>
							<div id="editProblemError"></div>

							<button class="btn btn-success form-control" id="editProblem">Update Problem</button>
							<button class="btn btn-danger form-control" id="deleteProblem">Delete Problem</button>

						</form>
					</div>
				</div>
			</div>
			<!-- EDIT QUESTION SECTION END -->

			<!-- PROGRESS BAR SECTION -->
			<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: 0%" id="pbp-green" data-toggle="tooltip" data-placement="top" title="Students who earned full points">
					<span class="sr-only">35% Complete (success)</span>
				</div>
				<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 0%" id="pbp-yellow" data-toggle="tooltip" data-placement="top" title="Students who submitted but did not earn full points">
					<span class="sr-only">20% Complete (warning)</span>
				</div>
				<div class="progress-bar progress-bar-danger" style="width: 0%" id="pbp-red">
					<span class="sr-only">10% Complete (danger)</span>
				</div>
			</div>
			<!-- PROGRESS BAR SECTION END -->

			<!-- STUDENT PROGRESS SECTION -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Student Attempts
						<span id="function" class="label label-info" data-toggle="tooltip" data-placement="top" title="Students with full correct points">0%</span><span id="style" class="label label-success" data-toggle="tooltip" data-placement="top" title="Students with full style points">0%</span>
						<button class="btn btn-primary btn-sm" id="refreshData" data-toggle="tooltip" data-placement="top" title="Progress Bar updates in realtime. Use refresh to update table below.">Refresh</button>

					</h4>
				</div>
				<div id="allStudents1ProblemTable">
					<div class="panel-body">
						Select a problem to view student progress
					</div>
				</div>
			</div>
			<!-- STUDENT PROGRESS SECTION ENDS -->

		</div>
		<!-- QUESTION SECTION ENDS -->


		<!-- ADD QUESTION SECTION -->
		<div  class="panel panel-default tab-pane" id="addquestion">
			<div class="panel-heading">
				Add a new question
			</div>
			<div class="panel-body">
				<form id="addProblemForm" class="form">
					<div class="row">
						<div class="form-group">
							<div class="col-md-3">
								<label class="control-label" for="type">Type</label>
								<select  id="type" class="form-control">
									<option value="twit">twit</option>
									<option value="diy">diy</option>
									<option value="wall">wall</option>
									<option value="exam">exam</option>
								</select>
							</div>
							<div class="col-md-3">
								<label class="control-label" for="phase">Phase</label>
								<select  id="phase" class="form-control">
									<option value="2">Future</option>
									<option value="1">Present</option>
									<option value="0">Past</option>
								</select>
							</div>
							<div class="col-md-3">
								<label class="control-label">Function Points</label>
								<input id="correctPoints" value=2 class="form-control">
							</div>
							<div class="col-md-3">
								<label class="control-label">Style Points</label>
								<input id="stylePoints" value=2 class="form-control">
							</div>
							<div class="col-md-3">
								<label class="control-label" for="language">Language</label>
								<select id="languageDropdown" class="form-control">
									<option value="javascript">JavaScript</option>
									<option value="java">Java</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								<label class="control-label" for="name">Name</label>
								<input  id="problemName" type="text" class="form-control">
							</div>
							<div class="col-md-6">
								<label class="control-label" for="folder">Folder</label>
								<select id="folderDropdown" class="form-control"> </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label class="control-label" for="description">Description</label>
								<textarea id="description" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label class="control-label" for="onSubmit">Function to run on submission</label>
								<textarea id="onSubmit" class="form-control" 
									 style="font-family:Consolas, monospace">
								</textarea>
							</div>
						</div>
					</div>
					<button class="btn btn-default form-control" id="addProblem">Add Problem</button>
					<div id="newProblemError"></div>
				</form>
			</div>
		</div>
		<!-- ADD QUESTION SECTION ENDS -->
		
		<!-- SUBMISSION SECTION -->
		<div class="tab-pane" id="submission">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#submissionCollapse" id="submissionTitle">
							Collapsible
						</a>
					</h4>
				</div>
				<div id="submissionCollapse" class="panel-collapse collapse in submissionCollapse">
					<div class="panel-body">
						Created By: <span id="submissionCreatedBy"></span><br />
						Problem: <span id="submissionProblem"></span><br />
						Created At: <span id="submissionCreatedAt"></span><br />
					</div>
				</div>
			</div>		

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#submissionFeedbackCollapse" id="submissionFeedbackTitle">
							Feedback
						</a>
					</h4>
				</div>
				<div id="submissionFeedbackCollapse" class="panel-collapse collapse in submissionCollapse">
					<div class="panel-body">
						<span id="submissionPoints"></span>
						<div class="alert alert-warning" id="submissionMessage"></div>
					</div>
				</div>
			</div>		

			<textarea id="codemirror"></textarea>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#relatedSubmissionCollapse" id="submissionTitle">
							Related Submissions
						</a>
					</h4>
				</div>
				<div id="relatedSubmissionCollapse" class="panel-collapse collapse in submissionCollapse">
					<div class="panel-body">
					<ul id="relatedSubmissions">
					</ul>
					</div>
				</div>
			</div>			
			<button type="button" class="btn btn-danger" data-toggle='pill' id="submissionCollapseAll">Hide Student Info</button>

		</div>
		<!-- SUBMISSION SECTION ENDS -->

		<!-- PROGRESS SECTION 
		<div class="tab-pane" id="progress">
			<h1>Progress</h1>
			<div id="visualization"></div>
		</div>
		 PROGRESS SECTION ENDS -->

		<!-- ADMIN SECTION -->
		<div class="tab-pane" id="admin">
			<p>View admins and give administrative privileges here</p>
			 <div class="panel panel-default">
				<div class="panel-heading">Manage admins</div>
 
				 <ul id="admins" class="list-group"></ul>

				 <div class="panel-body">
					 <div class="input-group">
						<input type="text" id="newAdmin" class="form-control" placeholder="Type username..."></input>
						<span class="input-group-btn">
							 <button type="submit" id="newAdminBtn" class="btn btn-default"><span class="glyphicon glyphicon-plus" style="color:green;"></span></button>
						</span>
					 </div>
					 <div id="newAdminError"></div>
				 </div>
			 </div>
		</div>
		<!-- ADMIN SECTION ENDS -->

		<!-- LIST STUDENTS SECTION -->
		<div class="tab-pane" id="students">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Students
						<form class="form-inline pull-right">
							<div class="form-group">
								<input type="text" class="form-control" id="onyen" placeholder="Enter onyen">
								<!--<button href="#individualStudent" type="button" class="btn btn-primary"  data-toggle='pill' id="onyenSearchButton">Submit</button>-->
								<a href="#individualStudent" data-toggle="pill" class="btn btn-info" role="button" id="onyenSearchButton">Search</a>
							</div>
						</form>
					</h4>
				</div>
				
				<div id="viewStudentsList">
					<div class="panel-body">
						Loading students...
					</div>
				</div>
			</div>
		</div>
		<!-- LIST STUDENTS SECTION ENDS -->

		<!-- INDIVIDUAL STUDENT SECTION -->
		<div class="tab-pane" id="individualStudent">
			<h1 id="individualName" style="float:left;margin-left:15px"></h1>
			
			<button type="button" class="btn btn-primary" data-toggle='pill' disabled="disabled" id="studentRefresh" style="float:right;margin-top:22px">refresh</button>

			<!-- PROGRESS BAR-->
			<div id="individualProgessBar" class="hidden col-md-12" style="margin-top:10px"></div>

			<!--SUBMISSION LIST-->
			<div class="col-md-12" id="individualSubmissionList"></div>

		</div>
		<!-- INDIVIDUAL STUDENT SECTION ENDS -->

		<!-- HELP SECTION -->
		<div class="tab-pane" id="help">
			<h1>Help</h1>
			Looking for help? You've come to the right place!
			<h3>Using the left menu bar</h3>
			The left menu bar is identical to what students will see in their interface. You can click a folder to see the problems inside it and then click a problem to load the problem view in the space to the right. Rearrange, add, and delete folders and problems by toggling the "Edit Folders" button at the top of the menu. Add a problem by clicking the "Add Problem" button at the top of the menu.

			<h3>View Progress and Edit a Specific Problem</h3>
			After clicking a problem in the left menu it will load on the right. There you can edit the question name, rubric and other details as well as see student progress on the problem. Click on the number of submissions beside a student's name to see timestamps and grades for each of his/her submissions. Clicking the student's name will take you to the Student Progress page. Clicking the timestamp of a submission will take you to the code that the student wrote.

			<h3>View Student Progress</h3>
			The "Students" tab on the top navbar will take you to a comprehensive list of students, which is searchable by onyen. Clicking on a student's name takes you to a list of all the problems they have solved, which can be expanded to show individual submission information similar to the Problem View pages when the problem name is clicked. Clicking a submission's timestamp will bring you to the code that the student submitted.

			<h3>Exploring Specific Submissions</h3>
			Once you are on the page showing the code that a student submitted for a problem, you can show/hide personal information about the student in case you want to display their code for the class to look at. You can also find a list of all of that student's other submissions for that problem at the bottom of the page.

			<h3>Grading Student Submissions</h3>
			Below is a template for generating scores for students.  The functions fail.f() and fail.s() deduct functionality and style points (respectively).  They take 2 parameters: the message to append to the console and the number of points to deduct.  Leaving the message blank ("") will deduct points without appending a message.  When done checking for errors, fail.done() declares what message the user will see in the console if there were no errors.

			<pre>
var soln_inputs = [ [ ] ];
var soln_outputs = [ ["Hello World"] ];

function totalChecker (err, user_outputs, truVec ) {

  //Functional Tests
  if (err) { 
      fail.f("There was an error in your code: " + err.msg,5);  //subtract 5 functional points
      fail.s("",5); //substract 5 style points
  }
  else {
      for(var i=0; i&lt;truVec.length; i++) { 
      	truVec[i] || fail.f("failed functional correctness",5); //subtract 5 functional points for each
      }
  }

  //Style Tests
  if (style.nDV != 1) { fail.s("Declare exactly 1 variable",3); } 
  if (style.nDF != 1) { fail.s("One function to run is required",2); }

  //Success Message
  fail.done("Good job!"); //Message seen if no points deducted.
}

// make it so
batch.exec ( code, soln_inputs, soln_outputs, totalChecker);      
			</pre>


		</div>
		<!-- HELP SECTION ENDS -->


	</div>
	<!-- BODY ENDS -->

<!--Admin section ends-->
<%} else if (!req.isAuthenticated()) {%>
	 <% res.redirect("/login?d=admin"); %>
<%} else {%>
	<nav class="navbar navbar-default">
			<div class="container-fluid">
					<div class="navbar-header">
							<a class="navbar-brand" href="#">Admin Page</a>
					</div>
					<form class="navbar-form navbar-right">
							<a href="/login/logout" id="logout" class="btn btn-default">Logout</a>
					</form>
			</div>
 </nav>
 <p>You must be an admin to view this page</p>
<%}%>
</div>

