<link rel="stylesheet" href="lib/codemirror.css">
<link rel="stylesheet" href="theme/mbo.css">
<link rel="stylesheet" href="addon/display/fullscreen.css">
<style>
    html, body, .container-fluid, .col-md-9, #codemirror, .CodeMirror {
        height: 95%;
    }
    .left-menu {
    	height:100%;
    }
    .scrollableAccordian {
    	height:100%;
	    overflow: scroll;
	}
    .CodeMirror-scroll {
        overflow-y: auto;
        overflow-x: auto;
    }
    #correctCheck, #styleCheck {
    	padding-right: 8px;
    }
    .console {
    	background-color: #2a2b2b;
    	color: #dddddd;
    	padding: 3px 10px;
    }
    .textConsole {
    	width: 100%;
    	background-color: #edeff0;
    }
    #pointbreakdown {
    	border: 2px solid gray;
    	float:right; 
    	width:233px; 
    	margin-left:5px;
    	padding:5px;
    }
	
</style>
<script src="lib/codemirror.js"></script>
<script src="../mode/javascript/javascript.js"></script>
<script src="../addon/selection/active-line.js"></script>
<script src="../addon/display/fullscreen.js"></script>

<script src="/js/acorn.js"></script>
<script src="/js/pnut.js"></script>
<script src="/js/index.js"></script>

<script>
<% if (req.isAuthenticated()) { %>
	var loggedIn = true;
<% } else { %>
	var loggedIn = false;
<% } %>
<%
User.find({admin: true}).exec(function(err, users) {
    if(err) {
        console.log("error: " + err);
    } else {
        if(users.length == 0) {   
            res.redirect("/user/setup");
        }
    }
});
%>
</script>
<!--NavBar for login-->
<nav style="margin-bottom: 0" class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Bricks</a>
			<a class="navbar-brand" data-toggle="modal" data-target="#helpModal">Help</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if (req.isAuthenticated()) { %>
			<div class="navbar-right">
                <p class="navbar-text">Score: <span id="grade">0/0</span></p>
				<p class="navbar-text"><%= req.user.displayName %></p>
				<form class="navbar-form navbar-right">
					<a href="/login/logout" id="logout" class="btn btn-default">Logout</a>
				</form>
			</div>
			<% } else { %>
			<form class="navbar-form navbar-right" action="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl" name="form1" method="POST">
				<!-- 'title' is special; it will be used on the authenticator page. -->
				<input type="hidden"
				name="title"
				value="COMP 110 Onyen Authentication">

				<!-- Do we want to get the PID for this person? -->
				<input type="hidden"
				name="getpid"
				value="displayName">

				<input id="target" type="hidden"
				name="targetpass"
				value="http://localhost:1337/login/authenticate">

				<input type="hidden"
				name="locationfailtimeout"
				value="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl">

				<input type="hidden"
				name="targetfail"
				value="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl">

				<input type="hidden"
				name="textpass"
				value="You are now logged in!">

				<input type="submit"
				class="btn btn-primary"
				name="submit"
				value="Log in">
			</form>
			<% } %> 

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<!--Content-->
<div class="left-menu container-fluid">
	<!--Question Info -->
  	<div class="col-md-3">
    	<div class="row">
      		<div>
      			<button type="button" id="accShow" class="btn btn-default" aria-label="Left Align" >
      			Expand Folders</button>
      		    <div class="panel-group scrollableAccordian" id="folderAccordion" >

			    </div>
      			<!--Folder Nav-->
      		</div>
    	</div>
	</div>
	<!--CODE-->
	<div class="col-md-9" id="right-side">
		<div class="row">
			<div>
		    	<div id="instructions" class='panel panel-default'>
		      		<div class='panel-heading'> 
						<h3 class='panel-title'><span id="desc-title">Instructions</span>
							<button data-toggle="modal" data-target="#myModal" class="btn btn-default pull-right" id="initSubmit" disabled="disabled">Submit for Score</button>
							<button id="test" type="button" class="btn btn-default pull-right">Test Locally</button> 
                        </h3>
		      		</div>
	  				<div class='panel-body'> 
	  					<div id="pointbreakdown" class="hidden">
			  				<b>Point Breakdown:</b><br/>
			  				<span id="correctCheck"></span>Functionality - <span id="highestPtCorrect">0</span>/<span id="availablePtCorrect"></span>
			  				<br />
			  				<span id="styleCheck"></span>Style - <span id="highestPtStyle">0</span>/<span id="availablePtStyle"></span>
			  				<br />
		  				</div>
		  				<div id="desc-body" >
	   						Select a problem to run and submit.
	   					</div>
	  				</div>
	 	    	</div>
		 	</div>
		</div>
		<div id="consoleHeader" class="console">
		Test Results Console
        </div>
		<textarea id="console" class="textConsole" readonly>
    	</textarea>

		<!--CodeMirror Start-->
        <% if (req.isAuthenticated()) { %>
            <textarea id="codemirror"><%=req.user.latestCode%></textarea>
        <%} else {%>
            <textarea id="codemirror"></textarea>
        <%}%>
		<!--CodeMirror End-->


    	<div id="submissions" class='panel panel-default hidden'>
      		<div class='panel-heading'> 
				<h3 class='panel-title'>Past Submissions
                </h3>
      		</div>
			<table class="table" >
			<thead>
			<tr><td>Time of submission</td>
			<td>Functionality</td> <td>Style</td>
			</tr>
			</thead>
			<tbody id="subs"> </tbody>
			</table>
	    </div>


    	
    	
		<!--
		<button id="test" type="button" class="btn btn-default ">Test</button>
		<button data-toggle="modal" data-target="#myModal" class="btn btn-default " id="initSubmit" disabled="disabled">Submit</button>
		-->

		<!-- Modal -->
        <% if (req.isAuthenticated()) { %>

					 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					           <div class="modal-header">
						      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
						   </div>
						   <div class="modal-body">
						      Are you sure you want to submit your assignment?<br />
						      Please make sure you have tested your code.
						   </div>
					  	   <div class="modal-footer">
						      <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
						      <button id="submit" type="button" data-dismiss="modal" class="btn btn-primary">Submit</button>
						   </div>
						 </div>
				 	    </div>
					  </div>    

        <%} else {%>

			         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				       <div class="modal-content">
				          <div class="modal-header">
				             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				             <h4 class="modal-title" id="myModalLabel">Please Login</h4>
			                  </div>
			                  <div class="modal-body">
				  	     You must login before you can submit a program for scoring.  <br/>
					     Please make sure you have tested your code locally.
					  </div>
					  <div class="modal-footer">
					     <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
					  </div>
			               </div>
			            </div> 
			         </div>

        <%}%>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body"><h3>Getting Started</h3>
        Login to Bricks with your UNC onyen and password to start solving problems. You can browse problems using the folders on the left. Just click to see the problems in each folder and click on the problem name to load it in the body of the page.  

        <h3>Test Locally and then Submit!</h3>
        Once you have finished writing your code in the black box, you can test your code with the "Test Locally" button and feedback will appear in the gray box above the code editor. Once you are happy with your code the "Submit for Score" button will record your points for the professor or TA to see. Previous submissions for the problem will appear below the code editor.

        <h3>What do the colors mean?</h3>
        The list of folders with the problems on the left will change colors to reflect your progress. Red folders haven't been started, yellow folders contain problems that have been attempted. If you see a green folder that means you have acheived full credit for all the problems in the folder. Individual problems follow the same color schema. 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

